/*기본 설정*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FDF9EE;
}

html, body {
    height: 100%;
}

nav.bar {
    height: 100vh;
    position: fixed
}
a {
    text-decoration: none;
    color : black;
}

/*좌측 메뉴 설정*/

.bar {
    width: 180px;
    border-right: 1px solid #1C1917;
}

.bar .name {
    display: flex;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.bar .name .me {
    width: 20px;
    height: 20px;
    object-fit: cover;

}

.name .myName {
    font-size: 12px;
    font-weight: bold;
}

/*About me*/
.barAboutMe {
    display: flex;
    flex-direction: column;
    margin:10px 10px 10px;
}

.barAboutMe .bar-title {
    display: flex;
}

.barAboutMe .bar-title >img {
    width: 15px;
    height: 15px;
    margin-right: 2px;
}

.barAboutMe .title {
    font-size: 13px;
    font-weight: bold;
}

.barAboutMe .Content {
    font-size: 9px;
}

/*메뉴*/

.menu {
    margin: 20px;
}

.menu>div {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.menu>div>a:hover{
    font-weight: bold;
}

.menu .aboutme>img {
    width: 15px;
    height: 15px;
}

.menu .experience>img {
    width: 15px;
    height: 15px;
}

.menu .skills>img {
    width: 15px;
    height: 15px;
}

.menu .project>img {
    width: 15px;
    height: 15px;
}

.menu>div>a {
    font-size: 10px;
}

.menu .aboutme .aboutme-text {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

/*컨택*/
.contact {
    margin-left: 15px;
}

.contact .contact-title {
    font-weight: bold;
    margin-top: 10px;
}

.contact .contact-menu {
    margin-left: 10px;
}
.contact > div>div {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.contact >div>div >img {
    width: 13px;
    height: 13px;
}

.contact >div >div>p {
    font-size: 10px;
}

.contact-name {
    font-size: 10px;
}

.contact-name:hover {
    font-weight: bold;
}


/*제목*/
.title {
    font-style:italic ;
    margin-bottom: 5px;
}

.main-content {
    margin-left: 180px;
    padding-left: 20px;
    min-height: 100vh;

    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    justify-content: center;
}

/*프로필*/
.profile {
    display : flex;
}

.profile .selfi {
    width:300px;
}

.profile .info {
    margin-top: 50px;
}

.educated-title {
    display: flex;

}

.educated-title>img{
    width: 20px;
}

.educated .text >p {
    font-size: 10px;
    margin-left: 20px;
}

.certifications-title{
    display: flex;
    margin-top: 10px;
}

.certifications-title>img{
    width: 20px;
    height:20px;
}

.certifications >p{
    font-size: 10px;
    margin-left: 20px;
}

.story {
    background-color: #F6F0DF;
    border: 2px solid #DED4B2;
    border-radius: 20px;
    padding: 30px 20px 30px;
    width: 710px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.story .story-detail .story-title {
    font-size: 20px;
    font-weight: bold;
    color:#6468B7;
}

.story .story-detail .story-content {
    font-size: 14px;
}

.story .blank {
    height:20px
}