/*기본 설정*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FDF9EE;
}

html, body {
    height: 100%;
}

nav.bar {
    height: 100vh;
    position: fixed
}
a {
    text-decoration: none;
    color : black;
}

/*좌측 메뉴 설정*/

.bar {
    width: 180px;
    border-right: 1px solid #1C1917;
}

.bar .name {
    display: flex;
    margin-top:0;
    margin-bottom: 0;
}

.bar .name .me {
    width: 20px;
    height: 20px;
    object-fit: cover;

}

.name .myName {
    font-size: 12px;
    font-weight: bold;
}

/*About me*/
.barAboutMe {
    display: flex;
    flex-direction: column;
}

.barAboutMe .title {
    font-size: 13px;
    font-weight: bold;
}

.barAboutMe .Content {
    font-size: 9px;
}

/*메뉴*/

.menu {
    margin: 20px;
}

.menu>div {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.menu .aboutme>img {
    width: 15px;
    height: 15px;
}

.menu .experience>img {
    width: 20px;
    height: 20px;
}

.menu .skills>img {
    width: 15px;
    height: 15px;
}

.menu .project>img {
    width: 15px;
    height: 15px;
}

.menu>div>a {
    font-size: 10px;
}

.menu .experience .experience-menu-text {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

/*컨택*/
.contact {
    margin-left: 15px;
}

.contact .title {
    font-weight: bold;
}

.contact .contact-menu {
    margin-left: 10px;
}
.contact > div>div {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.contact >div>div >img {
    width: 13px;
    height: 13px;
}

.contact >div >div>p {
    font-size: 10px;
}

/*메인 컨텐츠*/
.main-content {
    margin-left: 180px;
    padding-left: 20px;
    min-height: 100vh;

    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    justify-content: center;
}

.title {
    font-style:italic ;
    margin-bottom: 5px;
}

.main-content > .content> *{
    background-color: #F6F0DF;
    border: 2px solid #DED4B2;
    margin-bottom: 10px;
    width: 600px;
    border-radius: 8px;
}

.main-content > .content > .content-detail{
    padding: 10px 30px 10px;
    display: flex;
}

.main-content .content .content-detail .ex {
    margin-right: 100px;
    display: flex;
    flex-direction: column;

}

.main-content .content .content-detail .ex .title{
    font-weight: bold;
    display: inline-block;

}

.main-content .content .content-detail .ex .date{
    font-size: 12px;
    display: inline-block;

}

.main-content .content .content-detail .text{
    font-size: 13px;
    margin-left: auto;

}
