/*기본 설정*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FDF9EE;
}

html, body {
    height: 100%;
}

nav.bar {
    height: 100vh;
    position: fixed
}
a {
    text-decoration: none;
    color : black;
}

/*좌측 메뉴 설정*/

.bar {
    width: 180px;
    border-right: 1px solid #1C1917;
}

.bar .name {
    display: flex;
    margin-top:0;
    margin-bottom: 0;
}

.bar .name .me {
    width: 20px;
    height: 20px;
    object-fit: cover;

}

.name .myName {
    font-size: 12px;
    font-weight: bold;
}

/*About me*/
.barAboutMe {
    display: flex;
    flex-direction: column;
}

.barAboutMe .title {
    font-size: 13px;
    font-weight: bold;
}

.barAboutMe .Content {
    font-size: 9px;
}

/*메뉴*/

.menu {
    margin: 20px;
}

.menu>div {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.menu .aboutme>img {
    width: 15px;
    height: 15px;
}

.menu .experience>img {
    width: 20px;
    height: 20px;
}

.menu .skills>img {
    width: 15px;
    height: 15px;
}

.menu .project>img {
    width: 15px;
    height: 15px;
}

.menu>div>a {
    font-size: 10px;
}

.menu .project .project-menu-text {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

/*컨택*/
.contact {
    margin-left: 15px;
}

.contact .title {
    font-weight: bold;
}

.contact .contact-menu {
    margin-left: 10px;
}
.contact > div>div {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.contact >div>div >img {
    width: 13px;
    height: 13px;
}

.contact >div >div>p {
    font-size: 10px;
}

/*제목*/
.title {
    font-style:italic ;
    margin-bottom: 5px;
}

/*컨텐츠*/
.main-content {
    margin-left: 180px;
    padding-left: 20px;
    min-height: 100vh;

    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    justify-content: center;
}
.main-content > .content {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

.main-content > .content> .content-detail{
    background-color: #F6F0DF;
    border: 2px solid #DED4B2;
    margin-bottom: 10px;

    border-radius: 20px;
    padding: 30px 20px 30px;
    flex: 0 0 35%;


}

.ex > .title {
    font-weight: bold;
    font-style: normal;
    color:#6468B7;
}

.ex .explain {
    font-size: 13px;
}

.ex .explain {
    margin-bottom: 10px;
}

.ex .github-btn {
    background-color: #EEE8D5;
    border : 1px solid #DED4B2;
    border-radius: 8px;
    font-size: 13px;
    padding: 5px 8px 5px;
    display :inline-block;
    text-align:center;
    width: 80px;
    height: 30px;
}
